html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }

body {
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    color: white;
    margin-top: 0;
    font-size: 28px;
}

body {
    height: 100vh;
    background: #000000;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px;
    margin-bottom: -10px;
}

.text-container {
    width: 200px;
    text-align: left;
}